<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <welcome-file-list>
  <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  
  
  
  <servlet>
  <servlet-name>login</servlet-name>
  <servlet-class>com.VipulJsp</servlet-class>
  
   <init-param>
  <param-name>count</param-name>
  <param-value>1</param-value>
  
  </init-param>
  
  
  </servlet>
  <servlet-mapping>
  <servlet-name>login</servlet-name>
  <url-pattern>/abc</url-pattern>
  </servlet-mapping>																						
  
  <servlet>
  <servlet-name>logout</servlet-name>
  <servlet-class>com.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>logout</servlet-name>
  <url-pattern>/Logoutpage</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>crud</servlet-name>
  <servlet-class>com.DataClass</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>crud</servlet-name>
  <url-pattern>/data</url-pattern>
  </servlet-mapping>
</web-app>